html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  background-color: #EAEEF0;
  color: #646464;
  line-height: 1.6;
}

h1 {
  font-size: 1.5rem;
}

h1, h2, h3, ul, p {
  margin: 0;
}

h2, h3 {
  font-weight: 600;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #008DB7;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: 0.938rem;
  font-weight: 600;
}

/*===== LAYOUT =====*/
.bd-container {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
}

.button {
  width: 130px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #008DB7;
  margin-top: 1rem;
  margin-inline: auto;
}

.button-light {
  color: #EAEEF0;
}

/*===== NAV =====*/
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000000;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav__list {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.nav_item {
  margin-top: 1.5rem;
}

.nav__link {
  color: #EAEEF0;
  transition: 0.3s;
}

.nav__link:hover {
  color: #7B6F71;
}

#conect {
  border: 2px solid #008DB7;
  border-radius: 20px;
  width: 200px;
  padding: 0.2rem;
}
#conect:hover {
  color: whitesmoke;
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border: 2px solid #006175;
}

.nav__logo, .nav__toggle {
  color: #EAEEF0;
}

.nav__logo {
  font-weight: 600;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 3rem;
}

/* Active menu */
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.07rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: #008DB7;
}

/* Change background header */
.scroll-header {
  background-color: #EAEEF0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link {
  color: #2F0A0D;
}

.scroll-header .nav__menu {
  background-color: #EAEEF0;
}

/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #EAEEF0;
  background: #008DB7;
  width: 15px;
  border-radius: 50%;
  z-index: 10;
  transition: 0.5s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #7B6F71;
}

.scrolltop__icon {
  font-size: 2rem;
  color: #EAEEF0;
}

/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

.home {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EAEEF0;
  background-color: black;
}
.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.home__img {
  display: flex;
  justify-content: center;
}
.home__img img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
  border-radius: 50%;
  border: 6px solid #008DB7;
}
.home__profession {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.125rem;
  text-align: center;
}
.home__social {
  width: 100px;
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
}
.home__social a {
  font-size: 1.125rem;
  color: #EAEEF0;
}

.about__section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}
.about__container {
  display: flex;
  flex-direction: column;
}
.about__data {
  margin-top: 3rem;
}
.about__skills-technologies {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.about__skills-technologies div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.about__skills-technologies .fab {
  font-size: 3rem;
}

.section-subtitle, .about__skills {
  font-weight: 500;
}

.section-title-me, .about__skills p {
  text-align: justify;
  color: black;
  margin-bottom: 1rem;
}

.about__skills > p > span {
  font-weight: 700;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-img {
  width: 60px;
  height: 60px;
  margin: auto;
  filter: opacity(0.5);
}

.services__section {
  flex-direction: column;
  padding-top: 3rem;
}

.test-list {
  list-style: inside;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.test-list li::marker {
  color: #008DB7;
}

.portfolio__section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}
.portfolio__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio__main-cta {
  border: 2px solid #008DB7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 70vw;
  height: 3rem;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  transition: 200ms ease-in;
}
.portfolio__cards {
  display: grid;
  place-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.portfolio__card {
  border-radius: 20px;
  padding: 1rem;
  border-radius: 50px;
  background: #ffffff;
  transition: 200ms ease-in;
}
.portfolio__card-img img {
  border-radius: 35px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 280px;
}
.portfolio__card-title {
  font-size: 1.125rem;
  color: #008DB7;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.portfolio__card:hover {
  transform: scale(1.02);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.portfolio__main-cta:hover {
  transform: scale(1.02);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.experience__section {
  padding-top: 3rem;
}
.experience__item img {
  width: 3rem;
}
.experience__achieves {
  margin-top: 2rem;
}

.company-name, .item-role, .experience__achieves > h3 {
  font-size: 1.125rem;
}

.item-role > p > i {
  color: #7B6F71;
  font-size: 0.75rem;
}

.experience-paragraph {
  margin-top: 1.5rem;
  font-size: 0.938rem;
}
.experience-paragraph > li > a {
  color: #7B6F71;
}
.experience-paragraph > li > a:hover {
  text-decoration: underline;
  color: #2F0A0D;
}

.experience-paragraph > li, .experience__achieves-list > li {
  list-style: inside;
  margin-left: 0.5rem;
}

.experience-paragraph > li::marker, .experience__achieves-list > li::marker {
  color: #008DB7;
}

.experience__achieves-list {
  margin-bottom: 1rem;
}

.platzi-profile {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.platzi-profile > a {
  color: #7B6F71;
}
.platzi-profile > a:hover {
  color: #008DB7;
}

.contact__section {
  margin-top: 6rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #e3e3e3;
  border-radius: 20px;
}
.contact__me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
  gap: 2rem;
}
.contact__linkedin {
  display: block;
}
.contact__linkedin > a {
  color: #7B6F71;
}
.contact__icon {
  font-size: 1.5rem;
  color: #646464;
}
.contact__mail .button {
  display: flex;
  align-items: center;
}
.contact-title {
  font-size: 2rem;
  color: #008DB7;
  text-align: center;
  margin-bottom: 1rem;
}

.fa-linkedin-in:hover {
  color: #0e76a8;
}

footer {
  background-color: black;
  color: #EAEEF0;
  text-align: center;
  padding: 3rem 0 3rem 0;
}
footer > h2 {
  font-size: 18px;
}
footer > p {
  font-size: 0.75rem;
  font-weight: 400;
}
footer > span {
  font-size: 10px;
  color: #646464;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .home {
    height: 100vh;
  }
  .home__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .home__img {
    grid-row: 1/7;
    grid-column: 2/3;
  }
  .home__img img {
    width: 320px;
    height: 320px;
  }
  .home__profession, .home__social {
    grid-column: 1/2;
  }
  .home__profession {
    grid-row: 4/5;
  }
  .home__social {
    grid-row: 5/6;
  }
  .home__data {
    grid-row: 1/4;
    grid-column: 1/2;
    justify-content: center;
  }
  .home__container > a {
    grid-column: 1/2;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    margin-left: 2rem;
  }
  .about__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .section-title-me {
    padding: 2rem;
  }
  .portfolio__cards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio__card {
    width: 80%;
    border-radius: 50px;
  }
  .contact__me {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
  }
  .services__item {
    flex-direction: row;
  }
  .service {
    margin-top: 0;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .portfolio__main {
    flex-direction: row;
  }
  .experience__item {
    margin: auto;
    width: 50vw;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__section {
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
  }
  .services__item {
    padding: 2.5rem;
  }
  .about__data > p {
    width: 60vw;
  }
}/*# sourceMappingURL=style.css.map */