html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  background-color: #EAEEF0;
  color: #646464;
  line-height: 1.6;
}

h1, h2, h3, ul, p {
  margin: 0;
}

h2, h3 {
  font-weight: 600;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #008DB7;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
}

/*===== LAYOUT =====*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000000;
}

.button {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #008DB7;
  margin-top: 1rem;
  margin-inline: auto;
}

.button-light {
  color: #EAEEF0;
}

/*===== NAV =====*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.nav_item {
  margin-top: 1.5rem;
}

.nav__link {
  color: #EAEEF0;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  color: #7B6F71;
}

.nav__logo, .nav__toggle {
  color: #EAEEF0;
}

.nav__logo {
  font-weight: 600;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 3rem;
}

/* Active menu */
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -.07rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: #7B6F71;
}

/* Change background header */
.scroll-header {
  background-color: #EAEEF0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link {
  color: #2F0A0D;
}

.scroll-header .nav__menu {
  background-color: #EAEEF0;
}

/*===== SCROLL TOP =====*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  color: #EAEEF0;
  background: #008DB7;
  width: 15px;
  border-radius: 50%;
  z-index: 10;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #7B6F71;
}

.scrolltop__icon {
  font-size: 2rem;
  color: #EAEEF0;
}

/* Show scroll top */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

.home {
  height: calc(100vh - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EAEEF0;
  background-color: black;
}

.home__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.home__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__img img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  border: 6px solid #008DB7;
}

.home__profession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__social {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-inline: auto;
}

.home__social a {
  font-size: 1.125rem;
  color: #EAEEF0;
}
/*# sourceMappingURL=style.css.map */