:root{
    --regular: 400;
    --bold: 500;
    --light: 200;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 3rem 0 0 0;
    color: #524748;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
.bd-container{
    max-width: 1024;
    width: cal(100% - 2rem);
    margin-left:1.5rem;
    margin-right: 1.5rem;
}
.bg-grid{
    display: grid;
    gap: 1.5rem

}
.l-header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    background-color: #000;
}
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4ox rgba(0,0,0,0.1);
        border-radius: 0 0 1rem 1rem;
    } 
}
.nav__item{
    margin-bottom:1.5rem ;
}
.nav__link{
    color: white;
    transition: .3s;
}
.nav__link:hover{
    color:  #7B6F71;
}
.nav__logo, .nav__toggle{
    color: white;
}
.nav__toggle{
    font-size: 1.3rem;
    cursor: pointer;
}
.show-menu{
    top: 3rem;
}
.active-link{
    position: relative;
}
.active-link::after{
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: white;
}
.scroll-header{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link{
    color: black;
}
.scroll-header .nav__menu{
    background-color: white;
}
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 113, .7);
    border-radius: .5rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
}
.scrolltop:hover{
    background-color: #3e0e12;
}
.scrolltop__icon{
    font-size: 1rem;
    color: white;
}
.show-scroll{
    visibility:visible;
    bottom: 1.5rem;
}