.portfolio{
    &__section{
        // margin-top: 6rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: $mb-6;
    }
    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-cta {
            border: 2px solid $highlighted-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            width: 70vw;
            height: $mb-6;
            margin: $mb-2;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
            transition: 200ms ease-in;
        }
    }
    &__cards{
        display: grid;
        place-content: center;
        gap: $mb-4;
        margin-top: $mb-4;
    }
    &__card{
        // width: 80vw;
        // border: 1px solid $highlighted-color;
        border-radius: 20px;
        padding: $mb-2;
        border-radius: 50px;
        background: #ffffff;
        transition: 200ms ease-in;
        &-img img{
            border-radius: 35px;
            width: 100%;
            object-fit: cover;
            height: 280px;
        }
        &-title{
            font-size: $h3-font-size;
            color: $highlighted-color;
            margin-top: $mb-2;
            margin-bottom: $mb-2;
            padding-left: $mb-2;
        }
    }
    &__card:hover{
        transform: scale(1.02);
        box-shadow:  20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    }
}
.portfolio__main-cta:hover{
    transform: scale(1.02);
    box-shadow:  20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
}