.services__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service{
    margin-top: $mb-2;
    margin-bottom: $mb-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img{
        width: 60px;
        height: 60px;
        margin: auto;
        filter: opacity(0.5);
    }
}
.services__section{
    flex-direction: column;
    padding-top: 3rem;
}
.test-list{
    list-style: inside;
    margin-left: $mb-1;
    margin-top: $mb-2
}
.test-list li::marker{
    color: $highlighted-color;
}
